/.idea/vcs.xml
/src/.idea/Two_Pointers.iml
/src/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/profiles_settings.xml
/src/.idea/modules.xml
/.idea/modules.xml
/src/.idea/misc.xml
/.idea/misc.xml
.idea*
/src/test.py
.aider*
*.iml
*.idea
*.claude